/*Quiz page style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url(imgs/background-img.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
button a{
    text-decoration: none;
    color: #fff;
}
.box{
    background-color:#fff ;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    min-height: 350px;
    width: 640px;
    padding: 50px;
}

.box-ins{
    background-color:#fff ;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    min-height: 350px;
    width: 640px;
    padding: 50px;
}

.title{
    border-bottom: 1px solid #464646;
    color: #464646;
    padding-bottom: 30px;
    margin-bottom: 20px ;
    font-size: 26px;
    font-weight: 600;
}

.header{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.scoreBox,
.timerBox{
    border-radius: 100px;
    padding: 10px 15px;
    border: 1px solid ;
}

.questionBox{
    background-color: rgb(208, 143, 22);
    color: #fff;
    border-radius: 10px;
    padding:10px 15px;
}

.optionBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 0;
    grid-gap: 15px;
}
.optionBox button{
    background-color: #f0efef;
    border-radius: 10px;
    color: #000;
    border: 1 px solid #444;
    padding: 10px 15px;

}
.footer{
    display: flex;
    justify-content: space-between;
}

.footer button{
    background-color: rgb(229, 158, 26);
    border-radius: 5px;
    padding:7px 15px;
    color: #fff;
    border:0;
    outline: none;
    font-size: 20px;

}
.resultBox{
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
}
.resultBox *:nth-child(odd){
    text-align: right;

}
.resultBox span{
    font-weight: 600;

}
.buttonBox{
    border-top: 1px solid #444;
    padding: 15px;
    text-align: center;
}

.buttonBox a {
    background-color:rgb(229, 158, 26) ;
    border-radius: 50px;
    border: 0;
    text-decoration: none;
    color: #fff;
    outline: none;
    padding: 7px 15px;
    margin-top:30px;
    display: inline-block;
}

.correct{
    background: #9aeabc !important;
}

.incorrect {
    background: #ff9393 !important;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content { background-color:#fff ;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    min-height: 350px;
    width: 640px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
/*Quiz page style end */

/*Landing page changes*/
span.text-color-primary{
    color: rgb(170, 127, 48) !important;
}


/*More quiz styling for the correct and incorrect answers*/
.correct{
    background: #9aeabc;
}

.incorrect{
    background: #ff9393;
}

.btn:disabled{
    cursor: no-drop;
}

.btn:hover{
background-color:rgb(170, 124, 38) !important;
color: #fff;

}